body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #181717; /* Color de fondo para las áreas no cubiertas por la imagen */
}

.background-image {
    width: 1400px;
    height: 800px;
    background-image: url('../imagenes/pexels-photo-6235108.webp'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 15px rgba(8, 8, 8, 0.2);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin-right: 10px;
    font-size: 36px;
    color: #fff; /* Color del texto */
}

.header .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff; /* Borde blanco alrededor del logo */
}

.login-box {
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    position: relative;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}



.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

button:hover {
    background-color: #0056b3;
}
