/* reclamo.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.background-image {
    width: 1600px;
    height: 850px;
    background-image: url('../imagenes/pexels-photo-6235108.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.header h4 {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

.header .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.form-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 600px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
    text-align: left;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    width: 40%;
    text-align: left;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 55%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    width: 20%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
